<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-filepickerio"
    version="0.0.9">

    <name>Filepicker.io</name>
    <description>Cordova plugin for Filepicker.io native Android SDK http://www.filepicker.io</description>
    <license>Apache 2.0</license>
    <keywords>cordova,filepicker,filepickerio,filepicker.com,upload</keywords>
    <issue>https://github.com/dbaq/cordova-plugin-contacts-phone-numbers/issues</issue>

    <js-module src="www/filepickerio.js" name="filepickerio">
        <clobbers target="window.filepicker" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="filepickerio">
                <param name="android-package" value="com.dbaq.cordova.filepickerio.FilePickerIO"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/FilePickerIO.java" target-dir="src/com/dbaq/cordova/filepickerio" />

        <framework src="src/android/FilePickerIO.gradle" custom="true" type="gradleReference" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
          <feature name="filepickerio">
            <param name="ios-package" value="FilePickerIO"/>
          </feature>
        </config-file>
        <header-file src="src/ios/FilePickerIO.h"/>
        <source-file src="src/ios/FilePickerIO.m"/>
        <framework src="src/ios/libs/FSPicker.framework" custom="true" embed="true"/>
        <framework src="src/ios/libs/Filestack.framework" custom="true" embed="true"/>
        <framework src="src/ios/libs/AFNetworking.framework" custom="true" embed="true"/>
        <framework src="Foundation.framework" autogen="true"/>
        <framework src="AssetsLibrary.framework" autogen="true"/>
        <framework src="CoreFoundation.framework" autogen="true"/>
        <framework src="CoreGraphics.framework" autogen="true"/>
        <framework src="MobileCoreServices.framework" autogen="true"/>
        <framework src="QuartzCore.framework" autogen="true"/>
        <framework src="SystemConfiguration.framework" autogen="true"/>
    </platform>
</plugin>




